
    <!-- header -->
    <header class="site-header dark-bg">

        <!--  logo -->
        <div class="site-logo">Start up Evan</div>

        <!-- menu for phone -->
        <a href="#" class="pull-right site-header-toggle">&#9776;</a>

        <!-- menu -->
        <nav class="nav site-menu pull-right">
            <a href="#" class="nav-link become-btn">Become a member</a>
            <a href="#" class="nav-link">about</a>
            <a href="#" class="nav-link">Sign up</a>
        </nav>
    </header>

    <!-- banner -->
    <div class="site-banner">
        <!-- banner big picture -->
        <div class="site-banner-bg"></div>
        <div class="fullscreen-bg">
            <!-- <video loop muted autoplay poster="img/videoframe.jpg" class="fullscreen-bg__video">
                <source src="video/big_buck_bunny.webm" type="video/webm">
                <source src="videos/event_video.mp4" type="video/mp4">
                <source src="video/big_buck_bunny.ogv" type="video/ogg">
            </video> -->


        </div>

        <!-- CTA -->
        <div class="site-banner-content">
            <h1 class="title">Hardcore Life
                <div class="title-sub">The only thing you deserve in life is what you earn. Stop thinking, just do it.</div>
            </h1>
        </div>

        <!-- searching box -->
        <div class="site-banner-form">
            <div class="container">
                <div class="row">
                    <div class="col-xs-8">
                        <input class="form-element" type="text" placeholder="Search">
                    </div>
                    <div class="col-xs-4">
                        <input class="button button-green" type="submit" value="Submit">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="site-main">
        <div class="container">
            <!-- yellow area -->
            <div class="section-header text-center">
                <h2 class="title">
                    <div class="section-title">Just for local</div>
                    <div class="title-sub">Discover new, inpiring places close to home.</div>
                </h2>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="card">
                        <%= image_tag("2.jpeg", class: "img-fluid", alt: "") %>
                        <h2 class="title text-white card-center">Bangkok</h2>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card">
                        <%= image_tag("3.jpeg", class: "img-fluid", alt: "") %>
                        <h2 class="title text-white card-center">Malaysia</h2>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card">
                        <%= image_tag("4.jpeg", class: "img-fluid", alt: "") %>
                        <h2 class="title text-white card-center">Singapore</h2>
                    </div>
                </div>
            </div>
            <!-- orange area -->
            <div class="section-header text-center">
                <h2 class="title">
                    <div class="section-title">Discovery</div>
                    <div class="title-sub">Discover new, inpiring places close to home.</div>
                </h2>
            </div>

            <!-- first row -->
            <div class="row card-grid">
                <div class="col-sm-8">
                    <div class="card">
                        <%= image_tag("11.jpeg", class: "img-fluid", alt: "") %>
                        <h2 class="title text-white card-center">Winter</h2>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card">
                        <%= image_tag("5.jpeg", class: "img-fluid", alt: "") %>
                        <h2 class="title text-white card-center">Spring</h2>
                    </div>
                </div>
            </div>
            <!-- second row -->
            <div class="row card-grid">
                <div class="col-sm-4">
                    <div class="card">
                        <%= image_tag("6.jpeg", class: "img-fluid", alt: "") %>
                        <h2 class="title text-white card-center">Summer</h2>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card">
                        <%= image_tag("7.jpeg", class: "img-fluid", alt: "") %>
                        <h2 class="title text-white card-center">Mountain</h2>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card">
                        <%= image_tag("8.jpeg", class: "img-fluid", alt: "") %>
                        <h2 class="title text-white card-center">Fall</h2>
                    </div>
                </div>
            </div>
            <!-- third row -->
            <div class="row card-grid">
                <div class="col-sm-4">
                    <div class="card">
                        <%= image_tag("10.jpeg", class: "img-fluid", alt: "") %>
                        <h2 class="title text-white card-center">Cloudy</h2>
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="card">
                        <%= image_tag("12.jpeg", class: "img-fluid", alt: "") %>
                        <h2 class="title text-white card-center">Snow</h2>
                    </div>
                </div>
            </div>
        </div>

        <div class="card">
            <%= image_tag("13.jpeg", class: "img-fluid", alt: "") %>
            <h2 class="title text-center card-center">
                <div class="section-title">
                    INTRODUCING
                </div>
                <div class="title-sub">
                    Discover new, inspiring places close to home.
                </div>
            </h2>
        </div>

        <div class="section-header text-center">
            <h2 class="title">Communuty</h2>
        </div>

        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-4">
                    <div class="card">
                        <%= image_tag("2.jpeg", class: "img-fluid", alt: "") %>
                        <h2 class="title text-white card-center">Bangkok</h2>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card">
                        <%= image_tag("3.jpeg", class: "img-fluid", alt: "") %>
                        <h2 class="title text-white card-center">Malaysia</h2>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card">
                        <%= image_tag("0.jpeg", class: "img-fluid", alt: "") %>
                        <h2 class="title text-white card-center">Cambodia</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- footer -->
    <footer class="site-footer dark-bg sm-hidden ">
        <div class="container site-footer-inner">

            <div class="row">
                <div class="col-sm-6 col-md-3">
                    <!-- 其他選單 -->
                    <h3 class="block-title">Regions</h3>
                    <ul class="nav">
                        <li><a href="#" class="nav-link">Quote board</a></li>
                        <li><a href="#" class="nav-link">Best of 2013</a></li>
                        <li><a href="#" class="nav-link">Showbiz tonight</a></li>
                        <li><a href="#" class="nav-link">Fall entertainment 2013</a></li>
                        <li><a href="#" class="nav-link">Photo gallery</a></li>
                        <li><a href="#" class="nav-link">Music</a></li>
                        <li><a href="#" class="nav-link">Let's talk tv</a></li>
                    </ul>
                </div>
                <div class="col-sm-6 col-md-3">
                    <!-- 其他選單 -->
                    <h3 class="block-title">Money</h3>
                    <ul class="nav">
                        <li><a href="#" class="nav-link">Quote board</a></li>
                        <li><a href="#" class="nav-link">Best of 2013</a></li>
                        <li><a href="#" class="nav-link">Showbiz tonight</a></li>
                        <li><a href="#" class="nav-link">Fall entertainment 2013</a></li>
                        <li><a href="#" class="nav-link">Photo gallery</a></li>
                        <li><a href="#" class="nav-link">Music</a></li>
                        <li><a href="#" class="nav-link">Let's talk tv</a></li>
                    </ul>
                </div>
                <div class="col-sm-6 col-md-3">
                    <!-- 其他選單 -->
                    <h3 class="block-title">Tech</h3>
                    <ul class="nav">
                        <li><a href="#" class="nav-link">Quote board</a></li>
                        <li><a href="#" class="nav-link">Best of 2013</a></li>
                        <li><a href="#" class="nav-link">Showbiz tonight</a></li>
                        <li><a href="#" class="nav-link">Fall entertainment 2013</a></li>
                        <li><a href="#" class="nav-link">Photo gallery</a></li>
                        <li><a href="#" class="nav-link">Music</a></li>
                        <li><a href="#" class="nav-link">Let's talk tv</a></li>
                    </ul>
                </div>
                <div class="col-sm-6 col-md-3">
                    <!-- 其他選單 -->
                    <h3 class="block-title">Sport</h3>
                    <ul class="nav">
                        <li><a href="#" class="nav-link">Quote board</a></li>
                        <li><a href="#" class="nav-link">Best of 2013</a></li>
                        <li><a href="#" class="nav-link">Showbiz tonight</a></li>
                        <li><a href="#" class="nav-link">Fall entertainment 2013</a></li>
                        <li><a href="#" class="nav-link">Photo gallery</a></li>
                        <li><a href="#" class="nav-link">Music</a></li>
                        <li><a href="#" class="nav-link">Let's talk tv</a></li>
                    </ul>
                </div>
            </div>

        </div>
    </footer>

    <!-- Start of Async Drift Code -->
    <script>
    !function() {
      var t;
      if (t = window.driftt = window.drift = window.driftt || [], !t.init) return t.invoked ? void (window.console && console.error && console.error("Drift snippet included twice.")) : (t.invoked = !0,
      t.methods = [ "identify", "config", "track", "reset", "debug", "show", "ping", "page", "hide", "off", "on" ],
      t.factory = function(e) {
        return function() {
          var n;
          return n = Array.prototype.slice.call(arguments), n.unshift(e), t.push(n), t;
        };
      }, t.methods.forEach(function(e) {
        t[e] = t.factory(e);
      }), t.load = function(t) {
        var e, n, o, i;
        e = 3e5, i = Math.ceil(new Date() / e) * e, o = document.createElement("script"),
        o.type = "text/javascript", o.async = !0, o.crossorigin = "anonymous", o.src = "https://js.driftt.com/include/" + i + "/" + t + ".js",
        n = document.getElementsByTagName("script")[0], n.parentNode.insertBefore(o, n);
      });
    }();
    drift.SNIPPET_VERSION = '0.3.1';
    drift.load('7c46t52tbnsv');
    </script>
    <!-- End of Async Drift Code -->
